body{
    background: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background:lime;
    margin: 20px;
}

.add-btn{
    background: lime;
    width: 40px;
    height: 40px;
}
.app-title{
    text-align: center;
    color: greenyellow;
    font-size: 70px;
}
.container{
    border: 5px solid black;
    border-radius: 25px;

}
